* {
    box-sizing: border-box;
    font-family:monospace;
    color: aliceblue;
}
#top{
    display:flex;
    box-sizing: border-box;
    justify-content:flex-start;
    align-items: center;
    justify-content:space-between;
    gap:10px;
}
#top-left{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.icon{
    width: 100px;
    filter: invert(1);
}
.small-icon{
    width:35px;
    filter: invert(1);
    transition:ease-in-out 0.5s;
}
.small-icon:hover{
    filter: invert(0.5);
    cursor: pointer;
    transform: rotate(20deg);

}
button{
    border:none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 22), rgb(48, 0, 48));
    background-attachment: fixed;
    background-repeat: no-repeat;
    gap:20px;
}
#content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box{
    display: flex;
    justify-content: space-between;
    box-sizing:border-box;
    flex-direction: row;
    align-items: center;
    border-style:solid;
    border-radius: 20px;
    border-color: white;
    height: em;
    padding: 1em;
    gap:1em;
}
.emoji{
    font-size: 35px;
    margin: 0;
}
#task-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#create{
    display: flex;
    justify-content: center;
    transition:ease-in-out 0.5s;
}
#create:hover{
    background-color: green;
    cursor: pointer;

}